# Ambientes virtuais
venv/
env/
ENV/
.venv/

# Caches do Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados local (SQLite)
*.db
*.sqlite3

# Arquivos de upload dos usuários (evita subir fotos de teste)
static/uploads/*
!static/uploads/.gitkeep

# Configurações do editor/IDE
.vscode/
.idea/
.DS_Store